.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 0 13px;
    margin-bottom: 5px;
}

.popup__text::placeholder {
    color: rgba(0, 0, 0, 0.2);
}