.popup__container {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 670px) {
    .popup__container {
        min-width: 282px;
    }
}