.header {
    max-width: 880px;
    height: 74px;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 950px) {
    .header {
        max-width: 700px;
        height: 66px;
        margin-top: 35px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 450px;
        height: 56px;
        margin: 28px auto 38.25px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        max-width: 320px;
        padding-left: 27px;
        margin-right: auto;
        margin-left: auto;
    }
}