.header {
    max-width: 880px;
    padding-bottom: 41px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 950px) {
    .header {
        max-width: 700px;
        padding-bottom: 35px;
        margin-top: 35px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 450px;
        padding-bottom: 31px;
        margin-top: 28px;
        margin-bottom: 38.25px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        max-width: 320px;
        padding-left: 27px;
    }
}