.profile__add-button {
    background-position: center;
    margin-left: auto;
    background-image: url(../../../images/add-button.svg);
    background-color: black;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 60px;
        height: 20px;
        background-size: 10px 10px;
    }
}

@media screen and (max-width: 550px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        background-size: 16px 16px;
        margin-left: 0;
    }
}