.profile__avatar {
    max-width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        max-width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 550px) {
    .profile__avatar {
        max-width: 120px;
        height: 120px;
    }
}