.popup__close-button {
    border: none;
    position: absolute;
    background-image: url(../../../images/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 670px) {
    .popup__close-button {
        background-size: 20px;
        top: -40px;
        right: 0;
    }
}