.footer {
    max-width: 880px;
    margin: 0 auto 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 950px) {
    .footer {
        max-width: 700px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 450px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 550px) {
    .footer {
        max-width: 282px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
    }
}