.profile__avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-button.svg);
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.profile__avatar-overlay:hover {
    opacity: 1;
}